/* great default, for your sanity.
   https://css-tricks.com/box-sizing/  */
* {
  box-sizing: border-box; }

.article {
  max-width: 930px;
  margin: 0 auto; }
  @media (max-width: 470px) {
    .article {
      padding: 60px 30px 90px; } }

.title {
  text-align: center; }

/* HEADER */
.category {
  color: #a4a597;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.342em;
  line-height: 1; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* default */
  font-size: 2.415em;
  line-height: 1.2; }

h3 {
  font-family: 'Montserrat', sans-serif; }

.pub-date {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #a4a597;
  text-transform: uppercase;
  font-size: 74.5%;
  font-size: 0.745em;
  /* 74.5% of parent */ }

/* END HEADER */
body {
  background: #57068c;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%; }
  @media (max-width: 470px) {
    body {
      background: #57068c;
      overflow: scroll; } }

#header {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 980px;
  height: 124px; }

#header #logo {
  display: block;
  position: relative;
  line-height: 0;
  top: 22px;
  left: 25px;
  width: 256px; }

#header #poly-header {
  position: relative;
  margin-top: 46px;
  margin-left: 26px; }

/* ARTICLE CONTENT */
p {
  /* we did most of the work in the body tag! */
  margin-bottom: 1em; }

h2 {
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.342rem;
  line-height: 1;
  margin-top: 1.8em;
  margin-bottom: 0.5em; }

/* inline vs inline-block; */
code {
  display: inline;
  /* display: inline-block; */
  vertical-align: baseline;
  padding-top: 0px;
  /* padding-bottom: 300px; */
  padding-left: 10px;
  padding-right: 10px;
  background-color: teal; }

/* inline vs inline-block; */
note {
  display: inline;
  /* display: inline-block; */
  vertical-align: baseline;
  padding-top: 0px;
  /* padding-bottom: 300px; */
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0e7d8e;
  /* visited link */ }
  note a:visited {
    color: #fff; }

/* What <display> are images ? */
/* another great default, for your sanity. */
img {
  /* display: block; */
  max-width: 100%; }

sup {
  font-family: 'Open Sans', sans-serif; }

figure {
  margin: 2em 0 1em;
  /* what is a float ? */
  /*
  float: right;
  width: 70%;
  padding: 0;
  margin-right: -25%;
  margin-left: 1em;
  */ }

figcaption {
  font-family: 'Open Sans', sans-serif;
  color: #a4a597;
  line-height: 1.8em;
  text-align: center;
  padding: 0.5em 1em; }

.demo-wrapper {
  padding: 2em .5em;
  width: 100%;
  height: 100%;
  perspective: 3300px;
  position: relative; }

.dashboard {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  transform: translateX(200px);
  opacity: 0;
  animation: start 1s ease-out forwards; }

@keyframes start {
  0% {
    transform: translateX(200px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.tile {
  float: left;
  margin: 0 auto 1%;
  color: white;
  font-size: 1.3em;
  text-align: center;
  height: 8em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  position: relative;
  transition: background-color 0.2s ease-out; }

.tile-2xbig {
  height: 16.15em;
  width: 100%; }

.tile-big {
  width: 100%; }

.tile-small {
  width: 49%;
  margin-right: 2%; }

.tile-small.last {
  margin-right: 0; }

.tile-caption {
  position: absolute;
  z-index: 1;
  background-color: #455962;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  text-align: left; }

.caption-bottom {
  left: 0;
  bottom: 0;
  right: 0;
  height: 40%; }

.caption-left {
  left: -100%;
  top: 0;
  bottom: 0;
  width: 40%;
  transition: left .3s linear; }

.tile:hover .caption-left {
  left: 0; }

.tile div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  padding: 0 1em;
  transition: all .3s ease; }

.tile div p {
  display: table-cell;
  vertical-align: middle; }

.tile-1 p {
  font-size: 1.3em; }

.col1,
.col2,
.col3 {
  width: 99%;
  margin: 1em auto; }

@media screen and (min-width: 43.75em) {
  .col1,
  .col2,
  .col3 {
    float: left;
    margin-right: 1%;
    width: 49%; }

  .page-title {
    font-size: 2.5em; }

  .page-content {
    font-size: 1em; }

  .close-button {
    font-size: 2em; } }
@media screen and (min-width: 64em) {
  .col1,
  .col2,
  .col3 {
    float: left;
    margin-right: .5%;
    width: 31%; }

  .col3 {
    margin-right: 0; }

  .col1 {
    margin-left: 2em; }

  .page-title {
    font-size: 3.5em; } }
/* unvisited link */
a:link {
  color: #fff; }

/* visited link */
a:visited {
  color: teal; }

/* mouse over link */
a:hover {
  color: #fff; }

/* selected link */
a:active {
  color: #a4a597; }

/*# sourceMappingURL=index.css.map */
